/* line 69, sass/_base.scss */
.change_color {
  /*width: 100%;
  height: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  */
  background-color: #f9cf27;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg) rotateX(0deg);
  -webkit-animation: changing-bg-color 30s linear infinite;
  -moz-animation: changing-bg-color 30s linear infinite;
  -ms-animation: changing-bg-color 30s linear infinite;
  -o-animation: changing-bg-color 30s linear infinite;
  animation: changing-bg-color 30s linear infinite;
}

@-webkit-keyframes changing-bg-color {
  /* line 25, sass/_mixins.scss */
  0% {
    background-color: #f9cf27;
  }

  /* line 26, sass/_mixins.scss */
  6.25% {
    background-color: #f9cf27;
  }

  /* line 27, sass/_mixins.scss */
  12.5% {
    background-color: #bfd73a;
  }

  /* line 28, sass/_mixins.scss */
  18.75% {
    background-color: #bfd73a;
  }

  /* line 29, sass/_mixins.scss */
  25% {
    background-color: #92cea0;
  }

  /* line 30, sass/_mixins.scss */
  31.25% {
    background-color: #92cea0;
  }

  /* line 31, sass/_mixins.scss */
  37.5% {
    background-color: #b2d6f1;
  }

  /* line 32, sass/_mixins.scss */
  43.75% {
    background-color: #b2d6f1;
  }

  /* line 33, sass/_mixins.scss */
  50% {
    background-color: #7d80bd;
  }

  /* line 34, sass/_mixins.scss */
  56.25% {
    background-color: #7d80bd;
  }

  /* line 35, sass/_mixins.scss */
  62.5% {
    background-color: #ed3b85;
  }

  /* line 36, sass/_mixins.scss */
  68.75% {
    background-color: #ed3b85;
  }

  /* line 37, sass/_mixins.scss */
  75% {
    background-color: #ee3836;
  }

  /* line 38, sass/_mixins.scss */
  81.25% {
    background-color: #ee3836;
  }

  /* line 39, sass/_mixins.scss */
  87.5% {
    background-color: #f5832d;
  }

  /* line 40, sass/_mixins.scss */
  93.75% {
    background-color: #f5832d;
  }

  /* line 41, sass/_mixins.scss */
  100% {
    background-color: #f9cf27;
  }
}

@-moz-keyframes changing-bg-color {
  /* line 25, sass/_mixins.scss */
  0% {
    background-color: #f9cf27;
  }

  /* line 26, sass/_mixins.scss */
  6.25% {
    background-color: #f9cf27;
  }

  /* line 27, sass/_mixins.scss */
  12.5% {
    background-color: #bfd73a;
  }

  /* line 28, sass/_mixins.scss */
  18.75% {
    background-color: #bfd73a;
  }

  /* line 29, sass/_mixins.scss */
  25% {
    background-color: #92cea0;
  }

  /* line 30, sass/_mixins.scss */
  31.25% {
    background-color: #92cea0;
  }

  /* line 31, sass/_mixins.scss */
  37.5% {
    background-color: #b2d6f1;
  }

  /* line 32, sass/_mixins.scss */
  43.75% {
    background-color: #b2d6f1;
  }

  /* line 33, sass/_mixins.scss */
  50% {
    background-color: #7d80bd;
  }

  /* line 34, sass/_mixins.scss */
  56.25% {
    background-color: #7d80bd;
  }

  /* line 35, sass/_mixins.scss */
  62.5% {
    background-color: #ed3b85;
  }

  /* line 36, sass/_mixins.scss */
  68.75% {
    background-color: #ed3b85;
  }

  /* line 37, sass/_mixins.scss */
  75% {
    background-color: #ee3836;
  }

  /* line 38, sass/_mixins.scss */
  81.25% {
    background-color: #ee3836;
  }

  /* line 39, sass/_mixins.scss */
  87.5% {
    background-color: #f5832d;
  }

  /* line 40, sass/_mixins.scss */
  93.75% {
    background-color: #f5832d;
  }

  /* line 41, sass/_mixins.scss */
  100% {
    background-color: #f9cf27;
  }
}

@-ms-keyframes changing-bg-color {
  /* line 25, sass/_mixins.scss */
  0% {
    background-color: #f9cf27;
  }

  /* line 26, sass/_mixins.scss */
  6.25% {
    background-color: #f9cf27;
  }

  /* line 27, sass/_mixins.scss */
  12.5% {
    background-color: #bfd73a;
  }

  /* line 28, sass/_mixins.scss */
  18.75% {
    background-color: #bfd73a;
  }

  /* line 29, sass/_mixins.scss */
  25% {
    background-color: #92cea0;
  }

  /* line 30, sass/_mixins.scss */
  31.25% {
    background-color: #92cea0;
  }

  /* line 31, sass/_mixins.scss */
  37.5% {
    background-color: #b2d6f1;
  }

  /* line 32, sass/_mixins.scss */
  43.75% {
    background-color: #b2d6f1;
  }

  /* line 33, sass/_mixins.scss */
  50% {
    background-color: #7d80bd;
  }

  /* line 34, sass/_mixins.scss */
  56.25% {
    background-color: #7d80bd;
  }

  /* line 35, sass/_mixins.scss */
  62.5% {
    background-color: #ed3b85;
  }

  /* line 36, sass/_mixins.scss */
  68.75% {
    background-color: #ed3b85;
  }

  /* line 37, sass/_mixins.scss */
  75% {
    background-color: #ee3836;
  }

  /* line 38, sass/_mixins.scss */
  81.25% {
    background-color: #ee3836;
  }

  /* line 39, sass/_mixins.scss */
  87.5% {
    background-color: #f5832d;
  }

  /* line 40, sass/_mixins.scss */
  93.75% {
    background-color: #f5832d;
  }

  /* line 41, sass/_mixins.scss */
  100% {
    background-color: #f9cf27;
  }
}

@-o-keyframes changing-bg-color {
  /* line 25, sass/_mixins.scss */
  0% {
    background-color: #f9cf27;
  }

  /* line 26, sass/_mixins.scss */
  6.25% {
    background-color: #f9cf27;
  }

  /* line 27, sass/_mixins.scss */
  12.5% {
    background-color: #bfd73a;
  }

  /* line 28, sass/_mixins.scss */
  18.75% {
    background-color: #bfd73a;
  }

  /* line 29, sass/_mixins.scss */
  25% {
    background-color: #92cea0;
  }

  /* line 30, sass/_mixins.scss */
  31.25% {
    background-color: #92cea0;
  }

  /* line 31, sass/_mixins.scss */
  37.5% {
    background-color: #b2d6f1;
  }

  /* line 32, sass/_mixins.scss */
  43.75% {
    background-color: #b2d6f1;
  }

  /* line 33, sass/_mixins.scss */
  50% {
    background-color: #7d80bd;
  }

  /* line 34, sass/_mixins.scss */
  56.25% {
    background-color: #7d80bd;
  }

  /* line 35, sass/_mixins.scss */
  62.5% {
    background-color: #ed3b85;
  }

  /* line 36, sass/_mixins.scss */
  68.75% {
    background-color: #ed3b85;
  }

  /* line 37, sass/_mixins.scss */
  75% {
    background-color: #ee3836;
  }

  /* line 38, sass/_mixins.scss */
  81.25% {
    background-color: #ee3836;
  }

  /* line 39, sass/_mixins.scss */
  87.5% {
    background-color: #f5832d;
  }

  /* line 40, sass/_mixins.scss */
  93.75% {
    background-color: #f5832d;
  }

  /* line 41, sass/_mixins.scss */
  100% {
    background-color: #f9cf27;
  }
}

@keyframes changing-bg-color {
  /* line 25, sass/_mixins.scss */
  0% {
    background-color: #f9cf27;
  }

  /* line 26, sass/_mixins.scss */
  6.25% {
    background-color: #f9cf27;
  }

  /* line 27, sass/_mixins.scss */
  12.5% {
    background-color: #bfd73a;
  }

  /* line 28, sass/_mixins.scss */
  18.75% {
    background-color: #bfd73a;
  }

  /* line 29, sass/_mixins.scss */
  25% {
    background-color: #92cea0;
  }

  /* line 30, sass/_mixins.scss */
  31.25% {
    background-color: #92cea0;
  }

  /* line 31, sass/_mixins.scss */
  37.5% {
    background-color: #b2d6f1;
  }

  /* line 32, sass/_mixins.scss */
  43.75% {
    background-color: #b2d6f1;
  }

  /* line 33, sass/_mixins.scss */
  50% {
    background-color: #7d80bd;
  }

  /* line 34, sass/_mixins.scss */
  56.25% {
    background-color: #7d80bd;
  }

  /* line 35, sass/_mixins.scss */
  62.5% {
    background-color: #ed3b85;
  }

  /* line 36, sass/_mixins.scss */
  68.75% {
    background-color: #ed3b85;
  }

  /* line 37, sass/_mixins.scss */
  75% {
    background-color: #ee3836;
  }

  /* line 38, sass/_mixins.scss */
  81.25% {
    background-color: #ee3836;
  }

  /* line 39, sass/_mixins.scss */
  87.5% {
    background-color: #f5832d;
  }

  /* line 40, sass/_mixins.scss */
  93.75% {
    background-color: #f5832d;
  }

  /* line 41, sass/_mixins.scss */
  100% {
    background-color: #f9cf27;
  }
}
